.btn {
  border: solid 3px #ffffff;
  border-radius: 1.875rem;
  padding: 10px;
  font-size: 0.875rem;
  background-color: transparent;
}

.button-rounded {
  font-family: "Circular";
  font-style: normal;
  font-weight: 500;
  font-size: 0.6875rem;
  letter-spacing: 0.0625rem;
  background: #ffffff;
  border-radius: 1.1875rem;
  height: 2.375rem;
  padding: 0 2.1875rem;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.25s ease-out 0s;
  border: 2px solid transparent;
  text-transform: uppercase;
  transition: background-color 0.5s ease-out;
}
