<div>
  <div id="dashboard" v-if='isUserLoaded'>
    <h1>Profile</h1>
    <div class='user-icon-box'>
      <img class='user-icon' :src="user.images[0].url"/>
    </div>
    <table>
      <tr>
        <th>ID</th>
        <td>{{user.id}}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{user.email}}</td>
      </tr>
    </table>
    <track-analyzer-component :track='analyzedTrack' v-if='analyzedTrack'/>
  </div>
  <div class='sidebar'>
    <side-navigation-bar-component :track="recentPlayedTrack"/>
  </div>
  <current-playing-footer-component :track="currentPlayingTrack"/>
</div>
